* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

/* Global CSS */
.obj.width {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

nav {
    background-color: #00ff6d;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2rem;
}

.navbar .logo:hover {
    color: black;
}

#search-input {
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    margin-right: 30px;
}

#search-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border-color: white;
    margin-right:38px;
}

#blog-container {
    padding: 3rem 0;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap:wrap;
}
.blog-card{
    width:280px;
    border:1px solid #2d4c50;
    border-radius:10px;
    cursor:pointer;
    padding: 1rem;
    margin: 10px;

}
.blog-card:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1)
}
.blog-card img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    
}
.blog-card h2{
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    
}

.blog-card p{
    
    font-size: 1.rem;
    padding-top: 0.7rem;
}
@media(max-width:500px)
{
    nav {
       padding: 0 20px;
    }
    
    .navbar .logo {
        
        font-size: 1.7rem;
    }
    #search-input {
       width: 150px;
       padding:10px 10px;
    }
    .blog-card{
        width:100%;
    }
}